@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.banner-heading{
    font-size: 40px;
    font-weight: 100;
    line-height: 90%;
    padding-top: 15%;
    padding-left: 5%;
    width: 50%;
    color: white;
}

.parallax {
    /* The image used */
    /* background-image: url("img_parallax.jpg"); */
	
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('./../../../../assets/j.jpg');
    /* Set a specific height */
    height: 150vh;
    width: 100%;
    /* margin-left: 250px; */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container{
        width: 81%;
		background: rgb(0, 0, 0, 0.7);
        /* background-color:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), transparent ); */
		height: 100vh;
		position: absolute;
		top: 350px;
 }
 .heading{
    font-size: 26px;
	padding-top: 4%;
    padding-bottom: 2%;
	font-weight: 300;
	color:white;
}
 
img{
	width: 100%;
	min-height: 160px;
}

.col-md-3{
	margin-top: 5%;
}
.album-poster{
	position: relative;
	display: block;
	/* border-radius: 7px; */
	overflow: hidden;
	box-shadow: none;
	transition: all ease 0.4s;
}
.album-poster:hover{
	box-shadow: 0 15px 35px #211c29a1;
	transform: scale(0.98) translateY(5px);
}

p{
	font-size: 12px;
	color:#BEBEBE;
}
h4{
	font-size: 16px;
	/* text-transform: uppercase; */
	margin-top: 15px;
	font-weight: 500;
	color:white;
	width: 50%;
}

.remove{
	border: 1px solid white;
	background-color: transparent;
	color:  white;
	font-size: 12px;
}


@media (max-width:850px){
	
    .parallax {
        width: 100%;
        margin-right: 0px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
}

@media (max-width:650px){
	.parallax {
        height: 60vh;
        width: 100%;
        margin-left: 0px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
		
      }

	  .banner-heading{
      font-size: 40px;
 		font-weight: 200;
    	line-height: 90%;
    	padding-top: 25%;
    	padding-left: 5%;
    	text-align: center;
    	width: 90%;
    	color: white;
    	}
}

