  <div  class="parallax" >
    <div class="banner-heading"> Turn up the volume close your eyes and let the music take over your soul</div>
  </div>


  <div class="container" >
   
    <div class="heading">All Tracks</div>
    <div class="row">
      <div class="col-md-2"  *ngFor="let file of files; let i = index ">
        <a  class="album-poster" data-switch="3">
          <img [src]="file.imageUrl"  (click)="openFile(file, i);">
        </a>
        <h4>{{file.name}}</h4>
        <p>{{file.performedBy}} </p>
      </div>
    </div>
   </div>
  







