<!-- <div class="container" *ngIf="!submitted">
    <div class="row">
      <div class="col-md-3 mx-auto my-5" *ngFor="let file of files; let i = index"  (click)="openFile(file, i);">
        
  <mat-card class="example-card">
   
    <img mat-card-image [src]="file.imageUrl" alt="Card image cap" >
    <mat-card-title><h4>{{file.name}}</h4></mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle> 
    <mat-card-content>
      <p>{{file.artists}} 
       </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>ABOUT</button>
      <button mat-button (click)="removeTrack(file)">REMOVE</button>
    </mat-card-actions>
  </mat-card>
      
      </div>
    </div>
  </div> -->

  <div class="container" *ngIf="!submitted">
    <div class="heading">All Tracks</div>
    <div class="row">
      <div class="col-md-2"  *ngFor="let file of files; let i = index ">
        <a  class="album-poster" data-switch="3">
          <img [src]="file.imageUrl"  (click)="openFile(file, i);">
        </a>
        <h4>{{file.name}}</h4>
        <p>{{file.performedBy}} </p>
        <!-- <button class="button remove" (click)="removeTrack(file)">Remove</button> -->
      </div>
    </div>
  </div>

  <div class="containerr" *ngIf="submitted">
    <div class="main">
    <p id="logo"><i class="fa fa-music"></i>Music</p>
  
  <!--- left part --->
   <div class="left">

    <!--- song img --->
    <img id="track_image" [src]="imageUrl">
       <div class="volume">
          <p id="volume_show">{{showVolume}}</p>
          <i class="fa fa-volume-up" aria-hidden="true" (click)="mute_sound()" id="volume_icon"></i>
          <mat-slider class="volume-slider" min="0" max="1" step="0.01"(input)="onSliderChangeVolume($event)" [value]="state?.volume"  [disabled]="state.error || currentFile.index === undefined" id="volume"></mat-slider> 

          <!-- <input type="range" min="0" max="100" value="90" onchange="volume_change()" id="volume">   -->
       </div>

   </div>

   <!--- right part --->
     <div class="right">
      <div class="show_song_no">
        <p id="present">{{index}}</p>
        <p>/</p>
        <p id="total">{{files.length-1}}</p>
      </div>

     <!--- song title & artist name --->
    <p id="title">{{trackName}}</p>
    <p id="artist">{{artist}}</p>

    <!--- middle part --->
         <div class="middle">
           <button [disabled]="isFirstPlaying()" (click)="previous()" id="pre"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
           <button (click)="play()" [disabled]="state.error" *ngIf="!state?.playing && !state?.error" id="play"><i class="fa fa-play" aria-hidden="true"></i></button>
           <button (click)="pause()" *ngIf="state?.playing"  id="pause"><i class="fa fa-pause" aria-hidden="true"></i></button>
           <button [disabled]="isLastPlaying()" (click)="next()" id="next"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
         </div>

     <!--- song duration part --->
      <div class="duration">
        <span class="duration-start">{{state?.readableCurrentTime}}</span>
        <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime" (input)="onSliderChangeEnd($event)" [disabled]="state.error || currentFile.index === undefined"></mat-slider> 
         <span class="duration-end">{{state?.readableDuration}}</span>
        </div>
         <button id="auto" [ngClass]="{'autoPlayAbled' : autoPlayColor, 'autoPlayDisabled': !autoPlayColor}" (click)="autoplay_switch()">Auto play <i class="fa fa-circle-o-notch" aria-hidden="true"></i></button>
         {{ state?.currentTime==state?.duration ? duration() : '' }}
    </div>


</div>
</div>










