 
  
  *{

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.container{
        background-size: cover;
    background-repeat: no-repeat;
 }
 

.space{
    margin-top: 100px;
}


.banner-heading{
    font-size: 40px;
    font-weight: 400;
    line-height: 90%;
    padding-top: 15%;
    padding-left: 5%;
    width: 50%;
    color: white;
}

.parallax {
    /* The image used */
    /* background-image: url("img_parallax.jpg"); */
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../../../assets/j.jpg');
    /* Set a specific height */
    height: 60vh;
    width: 96.4%;
    margin-left: 250px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.data{ 
    height: 100vh;
    width: 96.4%;
    margin-left: 250px;
    top:0;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    /* background: black; */
    margin-right: 250px;
    line-height: 80px;
    position: fixed;
    width: 100%;
}

label{

     line-height: 80px;
    font-size: 30px;
    color: white;
    font-weight: 200;
    margin-left: 20px;
    cursor: pointer; 

}

nav ul{

    float: right;
    margin-right: 20px;
}

nav ul li{

    line-height: 80px;
    margin: 0 10px;
}

nav ul li .side-item{

    color: white;
    font-size: 20px;
    padding: 6px 15px;
    font-weight: 600;
    background-color: rgb(55,34,246);
    border-radius: 3px;
}

nav ul li .side-item:hover{

    background-color: rgb(49, 27, 214);
    color: white;
    transition: 0.5s;

}

.side-menu{

    position: fixed;
    background-color: black;
    /* background: #1D2951; */
    width: 250px;
    height: 100%;
    /* margin-top: 80px; */
}

.side-menu center img{

    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 30px;
    border: 3px solid white;
}

.side-menu center h2{

    color: white;
}


.side-menu .side-item{

    display: block;
    line-height: 60px;
 
    transition: 0.5s;

}

.side-menu .side-item:hover{

    background: rgb(20,54,165);
    padding-left: 20px;
}

.side-menu span{

    font-size: 20px;
    margin-left: 10px;
    color: white;
}

.side-menu i{

    font-size: 20px;
    margin-left: 20px;
    color: white;
}


nav .menu-bar{

    float: right;
    margin-top: 20px;
    display: none;
    margin-right: 20px;
}

#menu{

    display: none;
}

.side-menu .Logout{

    display: none;
}



@media (max-width:850px){

    .side-menu .side-item span{

        display: none;
    }

    .side-menu center{

        display: none;
    }

    .side-menu{

        width: 100px;

    }

    .side-menu .side-item i{
  
         display: block;
        line-height: 80px;
        text-align: center;
        margin-left: 0;
        font-size: 35px;
        
    
    }

    .parallax {
        /* The image used */
        /* background-image: url("img_parallax.jpg"); */
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../../../assets/j.jpg');
        /* Set a specific height */
        height: 60vh;
        width: 100%;
        margin-left: 100px;
        margin-right: 0px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

    .data{

        margin-left: 100px;
        height: 100vh;
        width: 100%;
        margin-right: 0px;
    }



}






@media (max-width:650px){
    .parallax {
        /* The image used */
        /* background-image: url("img_parallax.jpg"); */
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../../../assets/j.jpg');
        /* Set a specific height */
        height: 60vh;
        width: 100%;
        margin-left: 0px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

    .data{
        width: 100%;
         margin-left: 0px;
         /* left:0; */
       /* margin-right: 10px; */
        /* display: none; */
    }

    nav ul{

        display: none;
    }


    .side-menu{

        width: 100%;
        text-align: center;
        left:100%;
        background-color: #4c516d;
        transition: all 0.5s;
    }

    .side-menu .side-item i{

        display: none;
    }

    .side-menu .side-item span{

        display: block;
    }

    .side-menu .Logout{

        display: block;
    }

    nav .menu-bar{

        display: block;
    }

    .banner-heading{
        font-size: 40px;
    font-weight: 400;
    line-height: 90%;
    padding-top: 2%;
    padding-left: 5%;
    text-align: center;
    width: 90%;
    color: white;
    }
}

#menu:checked ~ .side-menu{

    left:0;

}

  
  
  