<div class="card" style="width:25rem">
    <div class="card-body">
        <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
            <div class="form-group">
                <label>Select file to upload</label>
                <input type="file" accept="audio/mp3,audio/*;capture=microphone" class="form-control" formControlName="song" (change)="showPreview($event)"zz>
                <div class="text-danger" *ngIf="isSubmitted && formControls.song.errors?.required">This feild is required.</div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success float-right">Submit</button>
            </div>
        </form>
    </div>
</div>