@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');




.grid-container{
	display: grid;
	grid-template-columns: 40% 60%;
	/* background-color: blueviolet; */
	margin-right:0;
	width: 100%;
	height: 100vh;
	background:  linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../../../assets/j.jpg');
	background-size: cover;
}

.grid-item{
	text-align:center;
	width: 100%;
	height: 100vh;
	
}

.grid-left{
	background-size:cover;
	
	/* background:  linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ); */
}
 #track_image{
	margin:0;
	margin-top: 30%;
	width: 300px;
	max-height: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

}


.options{
	color: #A9A9A9;
	margin-top: 10%;
	font-weight: 200;
	font-size: 20px;
}

 span{margin-left:0%;
	padding-left: 10%;
}

hr { background-color: #686868; 
	height: 0.2px;
	border: 0; 
	text-align: center;
	width: 60%;
	}

.track-functionality{
	margin-top: 10%;
	line-height: 12%;
 }

 .track-functionality p{
	margin-top: 14%;
	font-size: 20px;
	color: #C0C0C0;
 }
 

.track-functionality #title{
	font-family: 'Great Vibes', cursive;
	font-size: 50px;
	text-align: center;
	color:white;
}


.middle{
	margin-top: 10%;
	width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   /* background: rgba(255,255,255,0.1); */
}

.middle button{
   border: none;
   height: 70px;
   width: 70px;
   border-radius: 50%;	
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   outline: none;
   transition: 0.5s;
   background: rgba(255,255,255,0.2);
   margin-right: 2%;
}


.duration-start{
	margin-right: 12%;
}
.duration-end{
	/* margin-left: 2%; */
}

.duration{
	display: flex;
	align-items: center;
	/* justify-content: center; */
	width: 100%;
	height: 20px;
	margin-top: 5%;
	margin-left: 12%;
	color:white;
	/* background-color: aqua; */
}

.time-slider{
	/* background-color: rgb(31, 223, 175); */
	padding-left: 0;
	margin-left: 0;
}

#auto{
	font-size: 18px;
	cursor: pointer;
	margin-top: 45px;
	border: none;
	padding: 10px 14px;
	color: #fff;
	/* background: rgba(255,255,255,0.2); */
	outline: none;
	border-radius: 10px;
}


.autoPlayAbled{
	/* background: rgb(99, 91, 91); */
	background: #282828;
}

 .autoPlayDisabled{
	background: rgba(255,255,255,0.2)
}

#auto i{
	margin-left: 8px;
}

.autoPlay{
	padding-top: 0;
}

#play{
	background: #101010;
	/* background:	#484848; */
}

.grid-right{
	margin-left: 0px;
}
.grid-right button:hover{
	background: rgba(255,255,255,0.3);
	box-shadow: 0 15px 35px #322e3aa1;
	transform: scale(0.98) translateY(2px);
}
.grid-right .middle i:before{
	color: #fff;
	font-size: 20px;
}

.show_song_no{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 12px;
	color: #fff;
	border-radius: 5px;
	background: rgba(255,255,255,0.2);
  }
   .show_song_no{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 12px;
	color: #fff;
	border-radius: 5px;
	background: rgba(255,255,255,0.2);
  }
  .right .show_song_no p:nth-child(2){
	  margin: 0 5px;
  }
   .show_song_no p:nth-child(2){
	  margin: 0 5px;
  }

  #play_option, #credit_option, #heart{
	cursor: pointer;
	opacity: 95%
  }


.white{
	color: white;
}


.pink{
	color:palevioletred;
	box-shadow: 0 15px 35px #322e3aa1;
	transform: scale(0.98) translateY(2px);
	
}


table{
	/* background-color: blue; */
	margin-top: 10%;
	margin-left: 20%;
	text-align: left;
}
th{
	color: #F0F0F0;
}

td{
	color: 	#E8E8E8;
}
.volume{
	/* position: absolute; */
	margin-top: 10%;
	left: 0;
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.volume #volume_show{
	padding: 8px 12px;
	margin: 0 10px 0px 15px;
	background: rgba(245,245,245,0.1);
	
}
.grid-left .volume p{
	font-size: 15px;
}

.grid-left .volume i{
	font-size: 19px;
	cursor: pointer;
	padding: 8px 12px;
	background: rgba(245,245,245,0.1);
}

.volume-slider{
	margin-left: 10px;
}